/****** 

Code for admin's mode 

******/

.edit {
  color: white;
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-pen-to-square {
  margin: 0 20px 0 20px;
}

.fa-2xs {
  color: black;
}

.fa-2xs > span {
  font-family: "Work Sans";
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-left: 8px;
}

/****** 

MODAL

******/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  text-align: center;
}

.modal-wrapper {
  overflow: auto;
  background-color: white;
  width: 600px;
  max-width: calc(100vh - 20px);
  max-height: calc(100vh - 20px);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.modalPhotos {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 0;
}

.titlemodal1 {
  font-family: "Work Sans";
  color: black;
  font-size: 20px;
  text-align: center;
}

.close-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.go-back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.figure-wrapper {
  position: relative;
  width: 100%;
}

.figure-wrapper img {
  width: 100%;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 26px;
  height: 26px;
  background-color: black;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete .fa-trash-can {
  font-size: 14px;
  color: white;
}

hr {
  margin-bottom: 40px;
  width: 100%;
}

/****** 

Add photo modal

******/

.modalAddPhoto {
  width: 80%;
}

.addPhotoForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-photo {
  width: 100%;
  height: 230px;
  border-radius: 2px;
  background-color: rgb(223, 234, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.fa-image {
  color: rgb(208, 214, 224);
}

#image {
  display: none;
}

.custom-file-upload {
  margin-top: 15px;
  padding: 12px 20px;
  border-radius: 36px;
  background-color: rgb(208, 214, 224);
  font-family: "Syne";
  font-weight: 700;
  font-size: 14px;
  color: rgb(78, 98, 128);
  cursor: pointer;
}

.input-group {
  margin: 15px 0 40px 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-field,
select {
  width: 150px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.bottomSection {
  width: 80%;
}

.bottomModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submitFormBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.validate {
  width: 50%;
}

.inputText {
  width: 94%;
}

#title,
#category {
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: none;
  text-align: left;
  padding: 0 15px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
