/****** 

added code for the admin's mode 

******/

.edit {
  color: white;
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-pen-to-square {
  margin: 0 20px 0 20px;
}

.fa-2xs {
  color: black;
}

.fa-2xs > span {
  font-family: "Work Sans";
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-left: 8px;
}
