/****** 

Code for admin's mode 

******/

.edit {
  color: white;
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-pen-to-square {
  margin: 0 20px 0 20px;
}

.fa-2xs {
  color: black;
}

.fa-2xs > span {
  font-family: "Work Sans";
  font-size: 12px;
  letter-spacing: 0.1em;
  margin-left: 8px;
}

/****** 

MODAL

******/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper {
  overflow: auto;
  background-color: white;
  width: 600px;
  max-width: calc(100vh - 20px);
  max-height: calc(100vh - 20px);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modalPhotos {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

.titlemodal1 {
  font-family: "Work Sans";
  color: black;
  font-size: 26px;
  text-align: center;
}

.close-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.go-back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.figure-wrapper {
  position: relative;
  width: 100%;
}

.figure-wrapper img {
  width: 100%;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 26px;
  height: 26px;
  background-color: black;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete .fa-trash-can {
  font-size: 14px;
  color: white;
}

hr {
  margin-bottom: 20px;
  width: 80%;
}

.addPhotoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
